.sidebar {
  display: flex;
  flex-direction: column;
}

.img-button {
  user-select: none;
  height: 44px;
  width: 44px;
  margin: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.img-button img {
  height: 22px;
  width: 22px;
}

.img-button:hover{
  background-color: #eee;
}

.hor-separator {
  user-select: none;

  height: 1px;
  margin: 8px 20px;
  border-bottom: 1px solid  #c7c7c7;
}

.hide {
  width: 0;
}